<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeroclub.dao.GroupDao">
    <resultMap id="simpleMap" type="com.zeroclub.entity.Group">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
    </resultMap>
    <insert id="insert">

    </insert>
    <select id="getById" resultMap="simpleMap" parameterType="java.lang.String">
        select id, name from table_group
        where id=#{id}
    </select>
    <select id="getOne">

    </select>
    <select id="getList">

    </select>
    <update id="update">

    </update>
    <delete id="deleteOne">

    </delete>
    <delete id="deleteList">

    </delete>
</mapper>